{#
    Template für das Impressum.
    Nutzt die .card Komponente für den Textinhalt.
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.imprint'|trans }} – {{ parent() }}{% endblock %}
{% block description %}{{ 'nav.imprint'|trans }} von {{ 'brand.name'|trans }}{% endblock %}

{% block content %}
<section class="card">
    <h1>{{ 'nav.imprint'|trans }}</h1>
    
    <div>
        {# Angaben gemäß § 5 TMG #}
        <p><strong>{{ 'imprint.section_tmg'|trans }}</strong></p>
        <p>
            {# Nutzung von nl2br für Zeilenumbrüche aus der Übersetzung #}
            {{ 'imprint.address_block'|trans|nl2br }}
        </p>

        {# Kontaktinformationen #}
        <p><strong>{{ 'imprint.section_contact'|trans }}</strong></p>
        {# u-mb-0 entfernt den unteren Abstand beim letzten Element #}
        <p class="u-mb-0">
            {{ 'imprint.phone'|trans }}<br>
            {{ 'imprint.email'|trans }}
        </p>
    </div>
</section>
{% endblock %}